@model ChurrasMVC.Models.Churrasco

@{
    ViewData["Title"] = "Lista de Churrascos";
}

<h2>Lista de Churrascos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsAdicional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorComBebida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorSemBebida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ObsAdicional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ValorComBebida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ValorSemBebida)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@Model.Id">Home</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>

    </tbody>
</table>
